@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Quicksand', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.thongbao{
    height: 40px;
    text-align: center;
    background: #24A19C;
    color: black;
    line-height: 40px;
}
.menu-logo{
    height: 50px;
    position: relative;
    background: #eee;
    line-height: 25px;
}
.menu-logo .logo{
    position:absolute;
    top: 10px;
    left: 10px;
    
}
.menu-logo nav{
    position: absolute;
    top: 13px;
    right: 400px;
    
}
.menu-logo nav a{
    text-decoration: none;
    color: black;
    margin: 0 30px;
    
}
.menu-logo nav a:hover{
    color: #96CEB4;
    font-weight: bold;
    transition: all .5s linear;
    text-align: center;
}
.banner{
   width: 80%; 
   margin:0 auto;
   border-radius: 30;
   margin-top:110px;
}


.banner img{
    max-width:100%;
}
/* CSS CHO PHẦN HEADING CỦA TRANG WEB*/ 


.heading{
    font-size: 28px;
    color:aquamarine;
    text-align: center;
    margin:50px 0;
    position: relative;
}


 .heading:after{
    content :   "";
    position:absolute;
    width:100px;
    height:5px;
    background-color: #24A19C;
    top:45px;
    left:47%;
}
.heading:hover {
    transform: scale(1.1);
  }
  .heading:hover {
    background:tomato;
    border-color: red;
  }

/* CSS CHO PHẦN SẢN PHẨM */

.product .list-product .product-item{
    /* CHIỀU  DÀI CỦA  Ô SẢN PHẨM */
    width:22%;
    height: 330px;
    /* KHOẢNG CÁCH CỦA NHỮNG Ô SẢN PHẨM */
    margin:30px 20px;
    /*CHO PHÉP NHIỀU Ô SẢN PHẨM TRÊN CÙNG MỘT HÀNG*/
    display:inline-block;
    

}
.product-item img{
    height: 280px;
}

.product-item:hover {
    transform: scale(1.2);
  }
  .product-item:hover {
    background:tomato;
    border-color: red;
  }
  


.product .list-product .product-item img{
    max-width:100%;
}

/* CSS CHO PHẦN TIN TỨC*/
.tintuc .new-item{
    width:30%;
    margin:15px  20px;
    display: inline-block;

}


.tintuc .new-item img{
     max-width:100%;
}


/* CSS CHO PHẦN FOOTER tin tức  */
 footer{  
  width:100%;
  background: #35858B;
 }
 footer .footer-item{
     width:30%;
     display:inline-block;
     margin-bottom:30px;
     text-align: center;
 }

 footer.footer-item h3{
     margin:30px 0;
     
}

footer .link a{
    display: block;
    text-decoration: none ;
    color: black;
    margin: 3px 0 ;
    
}

